<% include partials/header %>
<div class="container">
  <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> Coba Passport</h1>
    <p>Login dan Register pake :</p>
    <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Local Login</a>
  </div>
</div>
<% include partials/footer %>
